@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*COLORS*/
:root {
  --dark-background-color: #252b42;
  --border-color: #f2f2f2;
  --second-text-color: #737373;
  --primary-color: #23a6f0;
}

h1,
h2,
h3,
h4,
h5,
p {
  letter-spacing: 0.2px;
  text-align: center;
}

/*TYPOGRAPHY*/
h1 {
  /* h1 */

  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 58px;
  line-height: 80px;
  /* or 138% */

  /* light-text-color */

  color: #ffffff;
}

h2 {
  /* h2 */

  font-weight: bold;
  font-size: 40px;

  /* light-text-color */

  color: #ffffff;
}

h4 {
  /* h4 */
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  /* or 150% */

  /* light-text-color */

  color: #ffffff;
}
/* h5 */
h5 {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  letter-spacing: 0.1px;

  /* light-text-color */

  color: #ffffff;
}

p {
  /* paragraph */

  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  margin-top: .75rem;

  /* second-text-color */

  color: #FFFFFF;
}

h6{
font-weight: 600;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */

letter-spacing: 0.2px;

/* light-text-color */

color: #FFFFFF;
}

/*COMPONENT STYLES*/
.container {
  width: 90%;
  padding: 3.5rem 1rem;
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 1rem;
}

.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 25px;
  background: #23a6f0;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: all .3s ease ;
}

.flex-column {
  flex-direction: column;
}
.gap {
  gap: 3rem;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.hero-btn {
  /* Auto Layout */

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 36px;

  /* primary-color */

  background: #23a6f0;
  border-radius: 37px;
}

.hero-btn:hover{
  background-color: transparent;
  border: 1px solid #ffffff;
}

svg{
  cursor: pointer;
}